@media screen and (max-width: 1600px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: fit-content;
  }
  #projects-container {
    column-count: 3;
    /* background-color: rgb(0, 255, 21); */
  }
  #projects{
    margin-left: 3rem; 
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  #profile {
    display: block;
  }
  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 320px;
    height: 320px;
    margin: 4rem auto 4rem;
  }
  #projects-container {    
    column-count: 2;
    /* background-color: rgb(255, 238, 0); */
  }
  #projects{
    margin-left: 2rem; 
    margin-right: 2rem;
  }
}


@media screen and (max-width: 700px) {
  #profile {
    display: block;
  }
  .title {
    font-size: 2rem;
  }
  .section__text__p2 {
    font-size: 1.3rem;
  }
  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 300px;
    height: 300px;
    margin: 2rem auto 4rem;
  }
  .project-card {
    margin-bottom: 7px; /* Espacio entre filas */
  }

  #projects-container {
    column-count: 1;
    /* background-color: rgb(255, 0, 0); */
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .btn{
    width: 7rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
  p,
  li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  #projects{
    margin-left: 2rem; 
    margin-right: 2rem;
  }

  #projects-container {
    /* grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
    column-count: 1;
    /* background-color: blue; */
  }
  
  .project-card {
    margin-bottom: 1rem; /* Espacio entre filas */
  }
}
