@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #profile {
    display: block;
  }
  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 320px;
    height: 320px;
    margin: 4rem auto 4rem;
  }
}


@media screen and (max-width: 700px) {
  #profile {
    display: block;
  }
  .title {
    font-size: 2rem;
  }
  .section__text__p2 {
    font-size: 1.3rem;
  }
  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 300px;
    height: 300px;
    margin: 2rem auto 4rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  footer {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  p,
  li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  /*
  #projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  }
  */
}
